// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 3.5em;
  font-weight: bold;
}

.logo {
  width: 7.5em;
  margin-bottom: 1em;
}

.content-container {
  font-size: 1.5em;
}

.paginate-btns {
  color: white;

  a {
    color: black;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.5em;
  }
  .logo {
    width: 6.5em;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }
  .logo {
    width: 5.5em;
  }
  .content-container {
    font-size: 0.9em;
    padding: 0;
    ul {
      padding-left: 1.6em;
    }
  }
}