// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 3.5em;
  font-weight: bold;
}

.logo {
  width: 7.5em;
}